.App {
  text-align: center;
  justify-content: center;
}
.cabin {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column-reverse  ;
}

.floor {
  border: 0.1vh solid black;
  background-color: #00000026;
  height: 12vh;
  width: 5vw;  
  justify-content: space-around;
}
